<a href="https://colab.research.google.com/github/Pobitro-Kumer/First/blob/main/Copy_of_First_class_15_08_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = " Pobitro "
age = " 33 "
favorite_Color = " Light Blue "
print("name :",name)
print("age :",age)
print("favorite_color is :", favorite_Color)

name :  Pobitro
age :  33
favorite_color is :  Light Blue

# *Data Types*

In [ ]:
name = "pragyan"
adress = "Jashore"
age = 2
product_price = 805.7234
valid = True
result = False
print(type(name))
print(type(adress))
print(type(age))
print(type(product_price))
print(type(valid))
print(type(result))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>

# *Basic Operations*

In [ ]:
length = 7
width = 5
area = length * length
perimeter = 2 * (length + width)
print("The area of rectangle :", area)
print("The perimeter of rectangle :", perimeter)

The area of rectangle : 49
The perimeter of rectangle : 24

# *List*

In [ ]:
foods= ["Fish", "Mutton", "vegetable", "Rice", "Ruti"]
print(foods[0])
print(foods[4])
print(foods[-1])
print(foods[-5])
print(foods[0:4])

Fish
Ruti
Ruti
Fish
['Fish', 'Mutton', 'vegetable', 'Rice']

# *List Methods*

In [ ]:
place = ["jashore", "Khulna", "Narail", "Jhenaidah", "Bagerhat", "Satkhira","Meherpur", "Chuadanga"]
print(place)
place.append("Magura")
print(place)
place.insert(6,"Kushtia")
print(place)
place.remove("Meherpur")
print(place)
popped = place.pop()
print(place)
print(popped)
place.sort()
print(place)
place.reverse()
print(place)

['jashore', 'Khulna', 'Narail', 'Jhenaidah', 'Bagerhat', 'Satkhira', 'Meherpur', 'Chuadanga']
['jashore', 'Khulna', 'Narail', 'Jhenaidah', 'Bagerhat', 'Satkhira', 'Meherpur', 'Chuadanga', 'Magura']
['jashore', 'Khulna', 'Narail', 'Jhenaidah', 'Bagerhat', 'Satkhira', 'Kushtia', 'Meherpur', 'Chuadanga', 'Magura']
['jashore', 'Khulna', 'Narail', 'Jhenaidah', 'Bagerhat', 'Satkhira', 'Kushtia', 'Chuadanga', 'Magura']
['jashore', 'Khulna', 'Narail', 'Jhenaidah', 'Bagerhat', 'Satkhira', 'Kushtia', 'Chuadanga']
Magura
['Bagerhat', 'Chuadanga', 'Jhenaidah', 'Khulna', 'Kushtia', 'Narail', 'Satkhira', 'jashore']
['jashore', 'Satkhira', 'Narail', 'Kushtia', 'Khulna', 'Jhenaidah', 'Chuadanga', 'Bagerhat']

# *Data Collections: Dictionaries*

In [ ]:
student = {
    "name": "Rana",
    "age": 21,
    "university": "Islamic University",
    "courses": ["Python", "Data Science", "Web Development", "C programming"]
    }
print(student)
print(student["name"])
print(student["courses"][0])
student["phone"] = "01721391810"
student["age"] = 23
student["Email"] = "rana.91@gmail.com"
student["blood group"] = "O+"
print(student)
if "blood group" in student:
      print("blood group found")
else:
      print("No blood group found")

{'name': 'Rana', 'age': 21, 'university': 'Islamic University', 'courses': ['Python', 'Data Science', 'Web Development', 'C programming']}
Rana
Python
{'name': 'Rana', 'age': 23, 'university': 'Islamic University', 'courses': ['Python', 'Data Science', 'Web Development', 'C programming'], 'phone': '01721391810', 'Email': 'rana.91@gmail.com', 'blood group': 'O+'}
blood group found

# *Data Collections:Tuples*

In [ ]:
coordinates = (23.1641, 89.2065)
rgb_color = (255, 0, 128)
print(coordinates[1])
print(rgb_color)

89.2065
(255, 0, 128)

# *Data Collections: Sets*

In [ ]:
color = {"white","Red","Black","yellow","Blue","Green","indigo","maroon","orange","pink"}
print(color)
color.add("violet")
print(color)
color.update(["aqua", "cream"])
print(color)
color.remove("Black")
print(color)
color.discard("white")
print(color)
primary_color = {"Red", "Blue", "Green"}
print(primary_color)
all_color = color | primary_color
print(all_color)
common_color =color & primary_color
print(common_color)

{'Red', 'indigo', 'Blue', 'yellow', 'orange', 'maroon', 'pink', 'Black', 'Green', 'white'}
{'Red', 'indigo', 'Blue', 'yellow', 'violet', 'orange', 'maroon', 'pink', 'Black', 'Green', 'white'}
{'Red', 'aqua', 'indigo', 'Blue', 'yellow', 'violet', 'orange', 'cream', 'maroon', 'pink', 'Black', 'Green', 'white'}
{'Red', 'aqua', 'indigo', 'Blue', 'yellow', 'violet', 'orange', 'cream', 'maroon', 'pink', 'Green', 'white'}
{'Red', 'aqua', 'indigo', 'Blue', 'yellow', 'violet', 'orange', 'cream', 'maroon', 'pink', 'Green'}
{'Red', 'Green', 'Blue'}
{'Red', 'aqua', 'indigo', 'Green', 'Blue', 'yellow', 'orange', 'cream', 'maroon', 'pink', 'violet'}
{'Blue', 'Red', 'Green'}

# *Control Structures: If-Else Statements*

In [ ]:
number = int(input("The Number is"))
if number > 0:
  print("the number is positive")
elif number < 0:
  print("the number is negetive")
else:
  print("the number is zero")

The Number is0
the number is zero

# *nested If Statements and Logical operators*

In [ ]:
age=int(input("Enter the age"))
is_student=input("are you student? (yes/no)").lower()
if(age  <=25 and is_student == "yes"):
   print("you are eligible for discount")
elif(age>60 and is_student =="no"):
  print("you are eligible for discount")
else:
  print("you are not eligible for discount")

Enter the age30
are you student? (yes/no)no
you are not eligible for discount

# *Control Structures: Loops*

In [ ]:
 print("The first 20 even Number is:")
for i in range(1,20):
  print(i*2)
print("The first 20 Odd number is:")
for i in range(1,20):
  print(i*2-1)

The first 20 even Number is:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
The first 20 Odd number is:
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37

# *Loop Control and Nested Loops*
## *pyramid*

In [ ]:
for i in range(1, 6):
  for j in range(1, 6):
   product = i * j
   print(f"{i} x {j} = {product}")
print("-----")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
-----

In [ ]:
for i in range(9,1,-1):
  print("*"*i)

*********
********
*******
******
*****
****
***
**

In [ ]:
rows = int(input("enter The rows :"))
for i in range(1,rows+1):
     print(" "*(rows-i) + "*"*(2*i-1))

enter The rows :5
    *
   ***
  *****
 *******
*********

In [ ]:
rows = int(input("enter The rows :"))
for i in range(1,rows+1):
  print("*"*rows)

enter The rows :4
****
****
****
****

# *Functions:Basics*

In [ ]:
c= float(input("enter the temperature in celcius :"))
f= (c*9/5)+32
print("the temerature in Fahrenheit is :",f)

enter the temperature in celcius :36
the temerature in Fahrenheit is : 96.8

In [ ]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit
celsius = float(input("Enter the temperature in Celsius: "))
fahrenheit = celsius_to_fahrenheit(celsius)
print("Temperature in Fahrenheit",fahrenheit)

Enter the temperature in Celsius: 36
Temperature in Fahrenheit 96.8

In [ ]:
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius
fahrenheit = float(input("Enter the temperature in Fahrenheit: "))
celsius = fahrenheit_to_celsius(fahrenheit)
print("The Temperature in Celsius is:", celsius)

Enter the temperature in Fahrenheit: 99
The Temperature in Celsius is: 37.22222222222222